* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 400px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left bottom, right top, from(#43389F), to(#4ec6ca));
    background: -o-linear-gradient(bottom left, #43389F 0%, #4ec6ca 100%);
    background: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);
    z-index: -2;
    border-radius: 5px;
}

.text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: #ffffff;
}

.text--big {
    margin-top: 6px;
    font-size: 82px;
    line-height: 60px;
}

.text--small {
    font-size: 23px;
    letter-spacing: 0.04em;
    line-height: 20px;
}

.pseudo__one {
    width: 24px;
    background-color: #ffffff;
    border-radius: 3px;

    &::before {
        content: '';
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 40px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 3px;
        -webkit-transform: rotate(-40deg);
        -ms-transform: rotate(-40deg);
        transform: rotate(-40deg);
        z-index: -1;
    }
}

.pseudo__zero {
    width: 100px;
    border: 24px solid #ffffff;
    border-radius: 50%;

    &:nth-child(1) {
        display: none;
    }
}

.pseudo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    p {
        position: relative;
        -webkit-box-shadow: 0 0 13px 0 rgb(0 0 0 / 20%);
        box-shadow: 0 0 13px 0 rgb(0 0 0 / 20%);
        height: 100px;

        &:nth-of-type(2) {
            z-index: -1;
            margin-left: -8px;
        }

        &:nth-of-type(3) {
            z-index: -2;
            margin-left: -16px;
        }
    }
}